state_machines/congress_data_platform.json
{
  "Comment": "Congress Data Platform - Unified Pipeline replacing 4 siloed pipelines (House FD, Congress.gov, Lobbying, Cross-Dataset Correlation)",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Pass",
      "Comment": "Validate year range (5-year lookback for initial load: 2020-2025)",
      "Parameters": {
        "execution_type.$": "$.execution_type",
        "mode.$": "$.mode",
        "sources.$": "$.sources",
        "parameters.$": "$.parameters",
        "valid_year_range": {
          "min_year": 2020,
          "max_year": 2025,
          "comment": "5-year lookback window for initial ingestion"
        },
        "execution_start_time.$": "$$.Execution.StartTime"
      },
      "Next": "CheckForUpdates"
    },
    "CheckForUpdates": {
      "Type": "Parallel",
      "Comment": "Phase 1: Update Detection - Check all data sources in parallel",
      "ResultPath": "$.update_checks",
      "Branches": [
        {
          "StartAt": "CheckHouseFD",
          "States": {
            "CheckHouseFD": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_CHECK_HOUSE_FD_UPDATES}",
              "Comment": "Check House Clerk website for new financial disclosure filings",
              "Parameters": {
                "year.$": "$.parameters.year"
              },
              "ResultPath": "$.updates.house_fd",
              "TimeoutSeconds": 60,
              "Retry": [
                {
                  "ErrorEquals": [
                    "CongressAPIRateLimitError",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 3,
                  "BackoffRate": 1.5
                },
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "CheckHouseFDFailed"
                }
              ],
              "End": true
            },
            "CheckHouseFDFailed": {
              "Type": "Pass",
              "Comment": "Mark House FD check as failed, continue with other sources",
              "Result": {
                "has_new_filings": false,
                "status": "failed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckCongress",
          "States": {
            "CheckCongress": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_CHECK_CONGRESS_UPDATES}",
              "Comment": "Check Congress.gov API for new bills and members",
              "Parameters": {
                "year.$": "$.parameters.year"
              },
              "ResultPath": "$.updates.congress",
              "TimeoutSeconds": 60,
              "Retry": [
                {
                  "ErrorEquals": [
                    "CongressAPIRateLimitError",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 3,
                  "BackoffRate": 1.5
                },
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "CheckCongressFailed"
                }
              ],
              "End": true
            },
            "CheckCongressFailed": {
              "Type": "Pass",
              "Comment": "Mark Congress.gov check as failed, continue with other sources",
              "Result": {
                "has_new_data": false,
                "status": "failed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckLobbying",
          "States": {
            "CheckLobbying": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_CHECK_LOBBYING_UPDATES}",
              "Comment": "Check Senate LDA database for new lobbying filings",
              "Parameters": {
                "year.$": "$.parameters.year",
                "quarter": "all"
              },
              "ResultPath": "$.updates.lobbying",
              "TimeoutSeconds": 60,
              "Retry": [
                {
                  "ErrorEquals": [
                    "CongressAPIRateLimitError",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 3,
                  "BackoffRate": 1.5
                },
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "CongressAPIError"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "CheckLobbyingFailed"
                }
              ],
              "End": true
            },
            "CheckLobbyingFailed": {
              "Type": "Pass",
              "Comment": "Mark lobbying check as failed, continue with other sources",
              "Result": {
                "has_new_filings": false,
                "status": "failed"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "EvaluateUpdates"
    },
    "EvaluateUpdates": {
      "Type": "Choice",
      "Comment": "Determine if any data sources have new data",
      "Choices": [
        {
          "Variable": "$.mode",
          "StringEquals": "force_refresh",
          "Next": "BronzeIngestion"
        },
        {
          "Or": [
            {
              "Variable": "$.update_checks[0].updates.house_fd.has_new_filings",
              "BooleanEquals": true
            },
            {
              "Variable": "$.update_checks[1].updates.congress.has_new_data",
              "BooleanEquals": true
            },
            {
              "Variable": "$.update_checks[2].updates.lobbying.has_new_filings",
              "BooleanEquals": true
            }
          ],
          "Next": "BronzeIngestion"
        }
      ],
      "Default": "NoUpdatesFound"
    },
    "NoUpdatesFound": {
      "Type": "Succeed",
      "Comment": "No new data found in any source, pipeline complete"
    },
    "BronzeIngestion": {
      "Type": "Parallel",
      "Comment": "Phase 2: Bronze Ingestion - Download raw data from all sources in parallel",
      "ResultPath": "$.bronze_results",
      "Branches": [
        {
          "StartAt": "IngestHouseFD",
          "States": {
            "IngestHouseFD": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_HOUSE_FD_INGEST_ZIP}",
              "Comment": "Download House FD YEARFD.zip and upload to Bronze S3",
              "Parameters": {
                "year.$": "$.parameters.year",
                "skip_existing": true
              },
              "ResultPath": "$.bronze.house_fd",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                },
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "IngestHouseFDFailed"
                }
              ],
              "End": true
            },
            "IngestHouseFDFailed": {
              "Type": "Pass",
              "Comment": "Mark House FD ingestion as failed, continue with other sources",
              "Result": {
                "status": "failed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "IngestCongress",
          "States": {
            "IngestCongress": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_CONGRESS_ORCHESTRATOR}",
              "Comment": "Orchestrate Congress.gov API ingestion (bills, members)",
              "Parameters": {
                "entity_type": "bill",
                "output_mode": "s3_manifest",
                "year.$": "$.parameters.year",
                "mode.$": "$.mode"
              },
              "ResultPath": "$.bronze.congress",
              "TimeoutSeconds": 900,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "CongressAPIError"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "IngestCongressFailed"
                }
              ],
              "End": true
            },
            "IngestCongressFailed": {
              "Type": "Pass",
              "Comment": "Mark Congress.gov ingestion as failed, continue with other sources",
              "Result": {
                "status": "failed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "IngestLobbying",
          "States": {
            "IngestLobbying": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_LDA_INGEST_FILINGS}",
              "Comment": "Download lobbying XML files from Senate LDA",
              "Parameters": {
                "filing_year.$": "$.parameters.year",
                "filing_type": "all",
                "skip_existing": true
              },
              "ResultPath": "$.bronze.lobbying",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 5,
                  "BackoffRate": 3.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "IngestLobbyingFailed"
                }
              ],
              "End": true
            },
            "IngestLobbyingFailed": {
              "Type": "Pass",
              "Comment": "Mark lobbying ingestion as failed, continue with other sources",
              "Result": {
                "status": "failed"
              },
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyPipelineFailure"
        }
      ],
      "Next": "SilverTransformation"
    },
    "SilverTransformation": {
      "Type": "Parallel",
      "Comment": "Phase 3: Silver Transformation - Parse and extract structured data in parallel",
      "ResultPath": "$.silver_results",
      "Branches": [
        {
          "StartAt": "IndexToSilver",
          "States": {
            "IndexToSilver": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_INDEX_TO_SILVER}",
              "Comment": "Parse House FD XML index and write Silver filings/documents tables",
              "ResultPath": "$.silver.index_result",
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "SilverHouseFDFailed"
                }
              ],
              "Next": "ExtractDocumentsMap"
            },
            "ExtractDocumentsMap": {
              "Type": "Map",
              "Comment": "Extract text and structured data from PDFs using distributed map",
              "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                  "InputType": "JSON"
                },
                "Parameters": {
                  "Bucket": "congress-disclosures-standardized",
                  "Key.$": "$.silver.index_result.documents_to_extract_s3_key"
                }
              },
              "MaxConcurrency": 10,
              "ResultPath": "$.extraction_results",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "DISTRIBUTED",
                  "ExecutionType": "STANDARD"
                },
                "StartAt": "ExtractDocument",
                "States": {
                  "ExtractDocument": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_EXTRACT_DOCUMENT}",
                    "Comment": "Extract text from PDF via pypdf or Textract OCR",
                    "TimeoutSeconds": 300,
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.TooManyRequestsException",
                          "Lambda.AWSLambdaException"
                        ],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 6,
                        "BackoffRate": 2.0
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": [
                          "States.ALL"
                        ],
                        "ResultPath": "$.error",
                        "Next": "ExtractFailed"
                      }
                    ],
                    "Next": "ExtractStructured"
                  },
                  "ExtractStructured": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_EXTRACT_STRUCTURED_CODE}",
                    "Comment": "Code-based extraction by filing type (PTR, Annual, etc.)",
                    "TimeoutSeconds": 180,
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.TooManyRequestsException",
                          "Lambda.AWSLambdaException"
                        ],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 6,
                        "BackoffRate": 2.0
                      }
                    ],
                    "End": true
                  },
                  "ExtractFailed": {
                    "Type": "Pass",
                    "Comment": "Mark extraction as failed, continue pipeline",
                    "Result": {
                      "status": "failed"
                    },
                    "End": true
                  }
                }
              },
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "SilverHouseFDFailed"
                }
              ],
              "Next": "WaitForExtractionComplete"
            },
            "WaitForExtractionComplete": {
              "Type": "Wait",
              "Comment": "Brief wait to ensure all S3 writes complete",
              "Seconds": 10,
              "End": true
            },
            "SilverHouseFDFailed": {
              "Type": "Pass",
              "Comment": "Mark House FD silver transformation as failed",
              "Result": {
                "status": "failed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ProcessCongressBillsMap",
          "States": {
            "ProcessCongressBillsMap": {
              "Type": "Map",
              "Comment": "Process Congress.gov bills using distributed map",
              "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                  "InputType": "JSON"
                },
                "Parameters": {
                  "Bucket.$": "$.bronze_results[1].bronze.congress.s3_bucket",
                  "Key.$": "$.bronze_results[1].bronze.congress.manifest_key"
                }
              },
              "MaxConcurrency": 10,
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "DISTRIBUTED",
                  "ExecutionType": "STANDARD"
                },
                "StartAt": "FetchBill",
                "States": {
                  "FetchBill": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_CONGRESS_FETCH_ENTITY}",
                    "Comment": "Fetch bill details from Congress.gov API",
                    "Parameters": {
                      "entity_type.$": "$.entity_type",
                      "entity_id.$": "$.entity_id",
                      "congress.$": "$.congress",
                      "bill_type.$": "$.bill_type",
                      "bill_number.$": "$.bill_number",
                      "endpoint.$": "$.endpoint",
                      "skip_silver_queue": true
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.TooManyRequestsException",
                          "CongressAPIRateLimitError"
                        ],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      }
                    ],
                    "Next": "WriteBillSilver"
                  },
                  "WriteBillSilver": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_CONGRESS_BRONZE_TO_SILVER}",
                    "Comment": "Write bill data to Silver Parquet tables",
                    "Parameters": {
                      "entity_type.$": "$.entity_type",
                      "bronze_s3_key.$": "$.bronze_s3_key"
                    },
                    "End": true
                  }
                }
              },
              "ResultPath": "$.silver.bills_processed",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "SilverCongressFailed"
                }
              ],
              "End": true
            },
            "SilverCongressFailed": {
              "Type": "Pass",
              "Comment": "Mark Congress.gov silver transformation as failed",
              "Result": {
                "status": "failed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ParseLobbyingXMLToSilver",
          "States": {
            "ParseLobbyingXMLToSilver": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_CONGRESS_BRONZE_TO_SILVER}",
              "Comment": "Parse lobbying XML files and write to Silver Parquet tables",
              "ResultPath": "$.silver.lobbying_result",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "SilverLobbyingFailed"
                }
              ],
              "End": true
            },
            "SilverLobbyingFailed": {
              "Type": "Pass",
              "Comment": "Mark lobbying silver transformation as failed",
              "Result": {
                "status": "failed"
              },
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyPipelineFailure"
        }
      ],
      "Next": "ValidateSilverQuality"
    },
    "ValidateSilverQuality": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_RUN_SODA_CHECKS}",
      "Comment": "Phase 5a: Quality - Run data quality checks on Silver layer",
      "Parameters": {
        "checks_path": "soda/checks/silver_all.yml",
        "layer": "silver"
      },
      "ResultPath": "$.silver_quality_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "DataQualityFailure",
            "States.TaskFailed"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyQualityFailure"
        }
      ],
      "Next": "GoldDimensions"
    },
    "GoldDimensions": {
      "Type": "Parallel",
      "Comment": "Phase 4a: Gold Dimensions - Build dimension tables in parallel",
      "ResultPath": "$.gold.dimensions",
      "Branches": [
        {
          "StartAt": "BuildDimMembers",
          "States": {
            "BuildDimMembers": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_BUILD_DIM_MEMBERS}",
              "Comment": "Build member dimension (SCD Type 2) from House FD and Congress.gov data",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "BuildDimAssets",
          "States": {
            "BuildDimAssets": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_BUILD_DIM_ASSETS}",
              "Comment": "Build asset dimension from transaction data",
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "BuildDimBills",
          "States": {
            "BuildDimBills": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_BUILD_DIM_BILLS}",
              "Comment": "Build bill dimension from Congress.gov data",
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyPipelineFailure"
        }
      ],
      "Next": "GoldFacts"
    },
    "GoldFacts": {
      "Type": "Parallel",
      "Comment": "Phase 4b: Gold Facts - Build fact tables (sequential dependencies handled within branches)",
      "ResultPath": "$.gold.facts",
      "Branches": [
        {
          "StartAt": "BuildFactTransactions",
          "States": {
            "BuildFactTransactions": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_BUILD_FACT_TRANSACTIONS}",
              "Comment": "Build transactions fact table (incremental)",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "BuildFactFilings",
          "States": {
            "BuildFactFilings": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_BUILD_FACT_FILINGS}",
              "Comment": "Build filings fact table",
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "BuildFactLobbying",
          "States": {
            "BuildFactLobbying": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_BUILD_FACT_LOBBYING}",
              "Comment": "Build lobbying fact table",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyPipelineFailure"
        }
      ],
      "Next": "GoldAggregates"
    },
    "GoldAggregates": {
      "Type": "Parallel",
      "Comment": "Phase 4c: Gold Aggregates - Compute aggregates and correlations in parallel",
      "ResultPath": "$.gold.aggregates",
      "Branches": [
        {
          "StartAt": "ComputeTrendingStocks",
          "States": {
            "ComputeTrendingStocks": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_COMPUTE_TRENDING_STOCKS}",
              "Comment": "Compute trending stocks (7d, 30d, 90d windows)",
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "ComputeMemberStats",
          "States": {
            "ComputeMemberStats": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_COMPUTE_MEMBER_STATS}",
              "Comment": "Compute member trading statistics",
              "TimeoutSeconds": 300,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "ComputeBillTradeCorrelations",
          "States": {
            "ComputeBillTradeCorrelations": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_COMPUTE_BILL_TRADE_CORRELATIONS}",
              "Comment": "Correlate bill activity with member trading patterns",
              "TimeoutSeconds": 600,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException",
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 6,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyPipelineFailure"
        }
      ],
      "Next": "ValidateGoldQuality"
    },
    "ValidateGoldQuality": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_RUN_SODA_CHECKS}",
      "Comment": "Phase 5b: Quality - Run data quality checks on Gold layer",
      "Parameters": {
        "checks_path": "soda/checks/gold_all.yml",
        "layer": "gold"
      },
      "ResultPath": "$.gold_quality_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "DataQualityFailure",
            "States.TaskFailed"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyQualityFailure"
        }
      ],
      "Next": "EvaluateQuality"
    },
    "EvaluateQuality": {
      "Type": "Choice",
      "Comment": "Determine if quality checks passed, warned, or failed",
      "Choices": [
        {
          "Variable": "$.gold_quality_result.status",
          "StringEquals": "passed",
          "Next": "PublishMetrics"
        },
        {
          "Variable": "$.gold_quality_result.status",
          "StringEquals": "warned",
          "Next": "NotifyQualityWarning"
        }
      ],
      "Default": "NotifyQualityFailure"
    },
    "NotifyQualityWarning": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Comment": "Send SNS alert for quality check warnings",
      "Parameters": {
        "TopicArn": "${SNS_PIPELINE_ALERTS_ARN}",
        "Subject": "Data Quality Warning - Congress Data Platform",
        "Message.$": "States.Format('Data quality checks completed with warnings.\n\nWarnings: {}\n\nExecution ID: {}', $.gold_quality_result.warnings, $$.Execution.Id)"
      },
      "ResultPath": "$.notification_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Next": "PublishMetrics"
    },
    "PublishMetrics": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_PUBLISH_METRICS}",
      "Comment": "Phase 6: Publish - Publish pipeline metrics to CloudWatch",
      "Parameters": {
        "pipeline": "congress_data_platform",
        "status": "success",
        "execution_id.$": "$$.Execution.Id",
        "execution_start_time.$": "$.execution_start_time",
        "bronze_results.$": "$.bronze_results",
        "silver_results.$": "$.silver_results",
        "gold_results.$": "$.gold",
        "quality_results": {
          "silver.$": "$.silver_quality_result",
          "gold.$": "$.gold_quality_result"
        }
      },
      "ResultPath": "$.metrics_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.metrics_error",
          "Next": "PipelineSuccess"
        }
      ],
      "Next": "PipelineSuccess"
    },
    "PipelineSuccess": {
      "Type": "Succeed",
      "Comment": "Congress Data Platform pipeline completed successfully"
    },
    "NotifyQualityFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Comment": "Send SNS alert for quality check failure",
      "Parameters": {
        "TopicArn": "${SNS_PIPELINE_ALERTS_ARN}",
        "Subject": "Data Quality Check Failed - Congress Data Platform",
        "Message.$": "States.Format('Data quality check failed.\n\nError: {}\n\nExecution ID: {}', $.error.Cause, $$.Execution.Id)"
      },
      "Next": "QualityCheckFailed",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ]
    },
    "NotifyPipelineFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Comment": "Send SNS alert for pipeline failure",
      "Parameters": {
        "TopicArn": "${SNS_PIPELINE_ALERTS_ARN}",
        "Subject": "Pipeline Failure - Congress Data Platform",
        "Message.$": "States.Format('Pipeline failed.\n\nError: {}\n\nExecution ID: {}', $.error.Cause, $$.Execution.Id)"
      },
      "Next": "PipelineFailed",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ]
    },
    "QualityCheckFailed": {
      "Type": "Fail",
      "Comment": "Pipeline stopped due to quality check failure",
      "Cause": "Data quality checks did not pass",
      "Error": "DataQualityFailure"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Comment": "Pipeline failed",
      "Cause": "Pipeline execution encountered an error",
      "Error": "PipelineExecutionFailure"
    }
  },
  "TimeoutSeconds": 7200
}
