state_machines/lobbying_pipeline.json
{
  "Comment": "Lobbying Disclosures Pipeline - Weekly ingestion of Senate LDA database",
  "StartAt": "CheckExecutionType",
  "States": {
    "CheckExecutionType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.execution_type",
          "StringEquals": "initial_load",
          "Next": "MultiYearIterator"
        }
      ],
      "Default": "CheckForNewFilings"
    },
    "MultiYearIterator": {
      "Type": "Map",
      "ItemsPath": "$.years",
      "MaxConcurrency": 2,
      "Iterator": {
        "StartAt": "StartChildExecution",
        "States": {
          "StartChildExecution": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
              "StateMachineArn.$": "$$.StateMachine.Id",
              "Input": {
                "execution_type": "manual",
                "year.$": "$"
              }
            },
            "End": true
          }
        }
      },
      "End": true
    },
    "CheckForNewFilings": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_CHECK_LOBBYING_UPDATES}",
      "Comment": "Check Senate LDA database for new quarterly filings",
      "Parameters": {
        "year.$": "$.year",
        "quarter": "all"
      },
      "ResultPath": "$.filings_check",
      "TimeoutSeconds": 180,
      "Retry": [
        {
          "ErrorEquals": [
            "CongressAPIRateLimitError",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 10,
          "BackoffRate": 1.5
        },
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "CongressAPIError"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyPipelineFailure"
        }
      ],
      "Next": "DownloadXMLFilesMap"
    },
    "DownloadXMLFilesMap": {
      "Type": "Map",
      "Comment": "Download lobbying XML files in parallel",
      "ItemsPath": "$.filings_check.ingest_tasks",
      "ItemSelector": {
        "filing_year.$": "$$.Map.Item.Value.filing_year",
        "filing_type.$": "$$.Map.Item.Value.filing_type",
        "entity_type.$": "$$.Map.Item.Value.entity_type",
        "skip_existing": true
      },
      "MaxConcurrency": 2,
      "ResultPath": "$.download_results",
      "Iterator": {
        "StartAt": "DownloadXML",
        "States": {
          "DownloadXML": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_DOWNLOAD_LOBBYING_XML}",
            "Comment": "Download XML file and upload to Bronze S3",
            "Parameters": {
              "filing_year.$": "$.filing_year",
              "filing_type.$": "$.filing_type",
              "entity_type.$": "$.entity_type",
              "skip_existing.$": "$.skip_existing"
            },
            "TimeoutSeconds": 120,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 5,
                "BackoffRate": 3.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.error",
                "Next": "DownloadFailed"
              }
            ],
            "End": true
          },
          "DownloadFailed": {
            "Type": "Pass",
            "Comment": "Mark download as failed, continue with other files",
            "Result": {
              "status": "failed"
            },
            "End": true
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyPipelineFailure"
        }
      ],
      "Next": "ParseXMLToSilver"
    },
    "ParseXMLToSilver": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_PARSE_LOBBYING_XML_SILVER}",
      "Comment": "Parse XML files and write to Silver Parquet tables",
      "ResultPath": "$.silver_result",
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": [
            "Lambda.ServiceException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyPipelineFailure"
        }
      ],
      "Next": "ValidateSilverQuality"
    },
    "ValidateSilverQuality": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_RUN_SODA_CHECKS}",
      "Comment": "Run data quality checks on Silver lobbying tables",
      "Parameters": {
        "checks_path": "soda/checks/silver_lobbying.yml"
      },
      "ResultPath": "$.silver_quality_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": [
            "Lambda.ServiceException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "DataQualityFailure",
            "States.TaskFailed"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyQualityFailure"
        }
      ],
      "Next": "TransformToGold"
    },
    "TransformToGold": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_BUILD_FACT_LOBBYING}",
      "Comment": "Build lobbying fact table in Gold layer",
      "ResultPath": "$.gold_result",
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": [
            "Lambda.ServiceException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyPipelineFailure"
        }
      ],
      "Next": "ValidateGoldQuality"
    },
    "ValidateGoldQuality": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_RUN_SODA_CHECKS}",
      "Comment": "Run data quality checks on Gold lobbying tables",
      "Parameters": {
        "checks_path": "soda/checks/gold_fact_lobbying.yml"
      },
      "ResultPath": "$.gold_quality_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": [
            "Lambda.ServiceException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "DataQualityFailure",
            "States.TaskFailed"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyQualityFailure"
        }
      ],
      "Next": "ComputeLobbyingAggregates"
    },
    "ComputeLobbyingAggregates": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_COMPUTE_LOBBYING_AGGREGATES}",
      "Comment": "Compute lobbying activity aggregates",
      "ResultPath": "$.aggregate_result",
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": [
            "Lambda.ServiceException"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "PublishMetrics"
    },
    "PublishMetrics": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:${LAMBDA_PUBLISH_METRICS}",
      "Comment": "Publish pipeline metrics to CloudWatch via Lambda",
      "Parameters": {
        "pipeline": "lobbying",
        "status": "success",
        "execution_id.$": "$$.Execution.Id"
      },
      "ResultPath": "$.metrics_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.metrics_error",
          "Next": "PipelineSuccess"
        }
      ],
      "Next": "PipelineSuccess"
    },
    "PipelineSuccess": {
      "Type": "Succeed",
      "Comment": "Lobbying pipeline completed successfully"
    },
    "NotifyQualityFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Comment": "Send SNS alert for quality check failure",
      "Parameters": {
        "TopicArn": "${SNS_PIPELINE_ALERTS_ARN}",
        "Subject": "Data Quality Check Failed - Lobbying Pipeline",
        "Message.$": "States.Format('Data quality check failed.\n\nError: {}\n\nExecution ID: {}', $.error.Cause, $$.Execution.Id)"
      },
      "Next": "QualityCheckFailed",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ]
    },
    "NotifyPipelineFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Comment": "Send SNS alert for pipeline failure",
      "Parameters": {
        "TopicArn": "${SNS_PIPELINE_ALERTS_ARN}",
        "Subject": "Pipeline Failure - Lobbying Pipeline",
        "Message.$": "States.Format('Pipeline failed.\n\nError: {}\n\nExecution ID: {}', $.error.Cause, $$.Execution.Id)"
      },
      "Next": "PipelineFailed",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException",
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ]
    },
    "QualityCheckFailed": {
      "Type": "Fail",
      "Comment": "Pipeline stopped due to quality check failure",
      "Cause": "Data quality checks did not pass",
      "Error": "DataQualityFailure"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Comment": "Pipeline failed",
      "Cause": "Pipeline execution encountered an error",
      "Error": "PipelineExecutionFailure"
    }
  },
  "TimeoutSeconds": 1800
}